<div class="ui-g content-center" style="position: relative;">
    <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">

        <div class="ui-g content-left themeBackground titleClass" style="padding:7px 10px;color: #0d202f;
                text-transform: uppercase; -webkit-text-stroke: thin;">
            {{'TIFF datoteke' | translate}}
        </div>
        <div class="ui-g content-right" style="padding:7px 0px; justify-content: flex-end;">


            <button pButton pRipple type="button" label="Odaberi slike za konverziju" class="p-button-raised"
                (click)="odaberiSlike()"></button>

            <button pButton pRipple icon="pi pi-replay" class="p-button-raised" style="margin-left:5px"
                (click)="getData()"></button>



            <span class="p-input-icon-left" style="margin-left:5px">
                <i class="pi pi-search"></i>
                <input style="padding-left: 2rem;" type="text" pInputText placeholder="Search" [(ngModel)]="filter"
                    (ngModelChange)="onFilterChanged()" />
            </span>
        </div>





        <div class="p-grid backgroundImg"
            style="max-height: calc(100vh - 6em - 95px); height: calc(100vh - 6em - 95px); overflow-y: auto; margin: 10px 0;">

            <div class="p-col-12 p-md-12 b-all" style="max-width: 500px;" *ngFor="let konverzija of konverzijeData">


                <p-card header="{{konverzija?.tiff? konverzija.tiff[0].filename:''}}"
                    subheader="{{konverzija?.dateAdded}}" styleClass="p-card-shadow">


                    <button pButton pRipple type="button" label="Download tiff"
                        class="p-button-raised" style="margin-bottom: 2rem; margin-top: -1rem;" (click)="downloadTiff(konverzija)"></button>




                    <div id="konverzija{{konverzija?.pkKonverzija}}"
                        [ngStyle]="{'min-height': konverzija.slikaChanging ? konverzija?.minHeight: ''}">
                        <app-img-preview *ngIf="konverzija?.prikaziSliku" [data]="konverzija?.selectedSlika">
                        </app-img-preview>
                    </div>

                    <p-table [value]="konverzija?.slike">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:calc(100% - 160px)">filename</th>
                                <th style="width:80px">type</th>
                                <th style="width:80px">size</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-slika>
                            <tr (click)="rowClicked(konverzija,slika)"
                                [ngClass]="{'selectedRow':slika.pkDatoteka === konverzija.selectedSlika?.pkDatoteka}">
                                <td style="width:calc(100% - 160px)">{{slika.originalname}}</td>
                                <td style="width:80px">{{slika.mimetype}}</td>
                                <td style="width:80px">{{slika.size / 1000000 | number : '1.2-2'}} MB</td>
                            </tr>
                        </ng-template>
                    </p-table>










                </p-card>





            </div>

        </div>


    </div>
</div>










<p-dialog [style]="{width: '90vw', height:'70vh'}" [resizable]="false" [closable]=false
    header="Odaberi slike za konverziju" modal="true" [(visible)]="displayDialog">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12" style="height: calc(70vh - 94px); width:100%">

                <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12"
                    style="overflow: auto; padding:0.1em; height: 100%; display: flex; max-width: 100%;">

                    <div class="ui-g-12 b-all"
                        style="width:30%; max-width:30%; max-height: 90%; height: 90%; margin:1%;"
                        *ngFor="let doc of uploadedFiles">

                        <p-card header="{{doc.name}}" subheader="{{doc.type}}" [style]="{width: '360px'}"
                            styleClass="p-card-shadow">
                            <p-header>
                                <app-img-preview *ngIf="doc.Preview && doc.type!=='image/tiff'" [data]="doc.Preview">
                                </app-img-preview>
                            </p-header>
                            <p>{{doc.size / 1000000}} MB</p>
                            <ng-template pTemplate="footer">
                                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                                    (onClick)="onRemove(doc)"></p-button>
                            </ng-template>
                        </p-card>

                    </div>


                    <!-- <div class="col-md-4">
                        <span class="upload" *ngIf="progress > 0">
                            {{progress}}%
                        </span>
                        <span class="upload" *ngIf="message">
                            {{message}}
                        </span>
                    </div> -->

                </div>



            </div>

        </div>
    </div>

    <p-footer>

        <div style="max-width:200px; float: left;">
            <p-fileUpload chooseLabel="Odaberi datoteke" #fileUpload customUpload="true" (onSelect)="onSelect($event)"
                (onRemove)="onRemove($event)" multiple="multiple" maxFileSize="10000000"
                accept=".jpg,.jpeg, .bmp, .gif, .tif, .png" [showCancelButton]="false" [showUploadButton]="false">
                <ng-template pTemplate="file">
                </ng-template>
            </p-fileUpload>
        </div>

        <p-button label="{{'Spremi' | translate}}" icon="pi pi-save" (click)="save(fileUpload)"></p-button>
        <p-button label="{{'Odustani' | translate}}" icon="pi pi-times" (click)="cancel(fileUpload)"></p-button>
    </p-footer>

</p-dialog>